<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 650px)" href="CSS/phone.css">
</head>


<body>

    <!-- Header -->
    <section class="sub-header">
        {{>nav}}
    </section>

    <!-- ABOUT US CONTENT -->
    <section class="aboutUS">
        <div class="row">
            <div class="about-col">
                <h1>We are the world's Largest University</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis obcaecati impedit vel sit
                    suscipit
                    beatae nobis inventore quaerat, maiores numquam commodi. Sapiente obcaecati tenetur dolor? Qui sint
                    itaque maiores. Nulla molestias consequuntur libero esse consectetur obcaecati tempora soluta
                    sapiente
                    iure iusto, eaque numquam. In ea dignissimos quasi repudiandae tempore praesentium?</p>
                <a href="/course" class="hero-btn red-btn">EXPLORE NOW</a>
            </div>
            <div class="about-col">
                <img src="images/about.jpg" alt="">
            </div>
        </div>
    </section>

    <!-- Footer  -->
    {{>footer}}

    <!-- Script -->
    {{>script}}

</body>

</html>