<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" media="screen and (max-width: 650px)" href="CSS/phone.css">
</head>

<body>
    
    <!-- Header -->
    <section class="sub-header">
        {{>nav}}
    </section>

    <!-- Blog Page content -->
    <section class="blog-content">
    <div class="row">
        <div class="blog-left">
            <img src="images/certificate.jpg" alt="">
            <h2>Our Certificate & Online Program For 2021</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus, pariatur blanditiis? Vel, eos dicta
                ducimus dolor doloremque repudiandae est impedit deleniti porro in vero et maiores sapiente,
                voluptatibus quas qui.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam similique id quasi, aliquid explicabo aut
                neque ratione impedit ut fugit! Id sed sapiente enim eligendi maxime, incidunt, in ullam distinctio
                aspernatur accusamus ratione! Fugiat tempora, qui pariatur deleniti fuga nisi sapiente doloribus dicta
                praesentium tempore est quis ipsum quibusdam facilis placeat ex at. Consectetur sunt animi ex fugit
                aliquam harum omnis eveniet, optio exercitationem veritatis odio, in libero dignissimos error!</p>
            <br>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus ipsa ullam dolore culpa eveniet harum
                enim architecto aliquid, aut ab ratione sed, autem est reiciendis, maxime tenetur. Id incidunt, earum
                minima placeat voluptatibus nobis magni illum, aliquam doloribus asperiores labore accusamus tenetur
                sequi veritatis, ad harum repellat numquam. Consequuntur, laudantium?</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita distinctio facere impedit eum, magni
                officia eius dolorem molestiae sint voluptate ea illo sed laborum quam velit cupiditate soluta incidunt
                error excepturi placeat numquam? Possimus cumque ad obcaecati aperiam dolorem libero pariatur alias ea,
                recusandae deleniti, quas ratione at unde aliquid. Distinctio officiis corrupti reiciendis quia, eum aut
                ea itaque maiores.</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam similique id quasi, aliquid explicabo aut
                neque ratione impedit ut fugit! Id sed sapiente enim eligendi maxime, incidunt, in ullam distinctio
                aspernatur accusamus ratione! Fugiat tempora, qui pariatur deleniti fuga nisi sapiente doloribus dicta
                praesentium tempore est quis ipsum quibusdam facilis placeat ex at. Consectetur sunt animi ex fugit
                aliquam harum omnis eveniet, optio exercitationem veritatis odio, in libero dignissimos error!</p>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam similique id quasi, aliquid explicabo aut
                neque ratione impedit ut fugit! Id sed sapiente enim eligendi maxime, incidunt, in ullam distinctio
                aspernatur accusamus ratione! Fugiat temporero dignissimos error!</p>


            <div class="comment-box">
                <h3>
                    Leave a Comment
                </h3>
                <form class="comment-form">
                    <input type="text" placeholder="Enter Name">
                    <input type="email" placeholder="Enter Email">
                    <textarea placeholder="Your Comment" cols="30" rows="5"></textarea>
                    <button type="submit" class="hero-btn red-btn">POST COMMENT</button>
                </form>
            </div>


        </div>


        <div class="blog-right">
            <h3>Post Categories</h3>
            <div>
                <span>Business Analytics</span>
                <span>20</span>
            </div>
            <div>
                <span>E-commerce</span>
                <span>30</span>
            </div>
            <div>
                <span>AutoCAD</span>
                <span>42</span>
            </div>
            <div>
                <span>Journalism</span>
                <span>22</span>
            </div>
            <div>
                <span>Machine learning</span>
                <span>19</span>
            </div>
            <div>
                <span>Machine learning</span>
                <span>19</span>
            </div>
            <div>
                <span>Computer Science</span>
                <span>12</span>
            </div>
            <div>
                <span>Cyber Security</span>
                <span>10</span>
            </div>
            <div>
                <span>Data Science</span>
                <span>11</span>
            </div>
        </div>
    </div>
</section>

    <!-- Footer  -->
    {{>footer}}

    <!-- Script -->
    {{>script}}

</body>

</html>