<section class="campus">
    <h1>Our Global Campus</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="campus-col">
            <img src="images/london.png" alt="">
            <div class="layer">
                <h3>LONDON</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="images/newyork.png" alt="">
            <div class="layer">
                <h3>NEW YORK</h3>
            </div>
        </div>
        <div class="campus-col">
            <img src="images/washington.png" alt="">
            <div class="layer">
                <h3>WASHINGTON</h3>
            </div>
        </div>
    </div>
</section>