<section class="course">
    <h1>Course We Offer</h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
    <div class="row">
        <div class="course-col">
            <h3>Intermediate</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum et suscipit ea adipisci nostrum
                temporibus magnam cum assumenda blanditiis officia accusantium qui architecto saepe explicabo enim,
                a sunt deserunt asperiores!</p>
        </div>
        <div class="course-col">
            <h3>Undergraduate</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum et suscipit ea adipisci nostrum
                temporibus magnam cum assumenda blanditiis officia accusantium qui architecto saepe explicabo enim,
                a sunt deserunt asperiores!</p>

        </div>
        <div class="course-col">
            <h3>Post Graduate</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum et suscipit ea adipisci nostrum
                temporibus magnam cum assumenda blanditiis officia accusantium qui architecto saepe explicabo enim,
                a sunt deserunt asperiores!</p>
        </div>

    </div>
</section>