<section class="facility">
    <h1>Our facilities</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="facility-col">
            <img src="images/library.png" alt="">
            <h3>World Class Library</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis numquam perferendis mollitia
                nesciunt! Voluptas fugiat dignissimos totam ab dolorum.</p>
        </div>
        <div class="facility-col">
            <img src="images/basketball.png" alt="">
            <h3>Largest Play Ground</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis numquam perferendis mollitia
                nesciunt! Voluptas fugiat dignissimos totam ab dolorum.</p>
        </div>
        <div class="facility-col">
            <img src="images/cafeteria.png" alt="">
            <h3>Tasty and Healthy Food</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione facilis numquam perferendis mollitia
                nesciunt! Voluptas fugiat dignissimos totam ab dolorum.</p>
        </div>
    </div>
</section>