<section class="footer">
    <h4>ABOUT US</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas numquam accusantium odio incidunt perferendis,
        atque debitis animi <br> blanditiis, vel praesentium voluptatem, perspiciatis sunt suscipit in?</p>
    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-twitter"></i>
    </div>
    <p>Made with <i class="fa fa-heart-o"></i> by Talha</p>
</section>