<div class="text-box">
    <h1>World's Biggest University</h1>
    <p>Making Website is now one of the easiest thing in the world. You just need to learn HTML, CSS and <br>
        JAVASCRIPT and you are good to go.</p>
    <a href="/" class="hero-btn">Visit Us to know More</a>
</div>