<section class="Testimonial">
    <h1>What Our Student Says</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    <div class="row">
        <div class="Testimonial-col">
            <img src="images/user1.jpg" alt="">
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam maxime. Explicabo impedit
                    error quasi dicta esse fugit voluptas veniam obcaecati. Veritatis ipsum id eum repellat,
                    recusandae suscipit veniam magni consequuntur aliquid facere a distinctio aut quo laudantium
                    sint aliquam eius! Eius et corporis dicta non ratione ex, tempora blanditiis.</p>
                <h3>Katherine</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
        <div class="Testimonial-col">
            <img src="images/user2.jpg" alt="">
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi, ipsam maxime. Explicabo impedit
                    error quasi dicta esse fugit voluptas veniam obcaecati. Veritatis ipsum id eum repellat,
                    recusandae suscipit veniam magni consequuntur aliquid facere a distinctio aut quo laudantium
                    sint aliquam eius! Eius et corporis dicta non ratione ex, tempora blanditiis.</p>
                <h3>Joe Denly</h3>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
        </div>
    </div>

</section>